.loan-calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 500px;
  min-height: 80vh; /* Ensure full viewport height */
  background-color: rgb(184, 185, 184); /* Set background color for the form */
  padding: 50px; /* Add padding for spacing */
}

.input-group {
  margin-bottom: 15px;
}

input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.yn {
  background-color: grey; /* Set grey background color for the button */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

.result {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
}